* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    letter-spacing: 1;
    word-spacing: 0.5rem;
    background-color: whitesmoke;
    font-family: helvetica;
    text-align: center;
    line-height: 1.4;
    opacity: 0.9;
}
/*head*/
.box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
 h1{
    font-weight: bold;
    font-size: 3rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li{
    margin: 0 1rem;
    list-style: none;
    display: inline;
    text-decoration: underline;
}

/*body*/
.body {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.unsplash.com/photo-1580810184726-8ae9423e3c47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    height: 40rem;
}
.center {
    line-height: 2;
    height: 8rem;
    background-color: whitesmoke;
}
img {
    padding: 0.80rem;
    width: 20rem;  
}

/*foot*/
.foot {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1528358547777-87585bb51446?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    height: 40rem;
}
footer {
    padding: 0.5rem;
}